#empty{
    height: 20px;
    background-color: lightgrey;
    padding: 4px;
}
#row1{
    text-align: center;
}
#NavArea{
    background-color: lightgreen;
    width: 200px;
    height: 550px;
    
}
#rules{
    text-align: left;
}
#form{
    text-align: left;
}
#play{
    background-color: lightgrey;
    height: 550px;
    width: 1078px;
}
body{
    border-style: solid;
}