#empty{
    height: 20px;
    background-color: lightgrey;
}
#row1{
    text-align: center;
}
#NavArea{
    background-color: lightgreen;
    width: 250px;
    height: 550px;
    padding: 30px;
}
#rules{
    text-align: left;
}
#form{
    text-align: left;
}